/* Overwrite default in HTML */
body{
    overflow: hidden;
}

.mainContainer{
    width: 40%;
    height: 80%;
    top: 10%;
    left: 2%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 10px;
    background-color: var(--light);
    border-radius: 15px;
    z-index: 1000;
}

.title{
    margin: 30px;
    margin-bottom: 10px;
    font-size: 45px;
}

/* Main Menu Section */
.menuContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.tabContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__tab{
    width: 22%;
    font-size: 15px;
    margin-right: 3px;
    align-items: center;
}

.tab-icon {
    color: var(--light);
    background-color: var(--green);
    border-radius: 15px;
    padding: 5px;
    font-size: 30px;
}

.button{
    margin-right: 30px;
    font-size: 15px;
    width: auto;
    height: 40px;
    position: absolute;
    z-index: 1000;
    top: 10%;
    left: 90%;
}

/* Listing container and listings */
.listingContainer{
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.listing {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
}

/* LHS - Description and information */
.lhs{
width: 60%;
height: 100%;
display: flex;
flex-direction: column;
}

.descriptor{
color: var(--green);
}

.description{
    width: 100%;
    height: 80%;
    text-align: justify;
    margin-top: 10px;
    color: black;
}

.infoBar{
width: 100%;
height: 20px;
display: flex;
flex-direction: column;
margin-top: 20px;
font-weight: bold;
}

.capacity_rate{
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
justify-content: space-between;
}

.rate{
    align-items: center;
    color: var(--green);
}

.capacity{
    color: var(--grey);
}

.imageContainer{
    width: 30%;
    height: 100%;
    margin-left: 20px;
}
.imageEntry{
    width: 100%;
    height: 100%;
    object-fit:fill;
}