/* Header */
.review-container {
  display: flex;
  align-items: center;
  position: relative;
  left: -3px;
  top: -3px;
}

.ratings {
  display: flex;
  align-items: center;
}

.review-link {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}

/* Left */
.image-container {
  /* flex: 1; */
  min-height: 300px;
}

.image-container img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  /* object-fit: contain; */
  object-fit: fill;
}

.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions button {
  width: 200px;
  margin: 10px;
}

/* Right */
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.details__item {
  display: flex;
}

.icon {
  margin-right: 20px;
}

.details__item__content {
  display: flex;
  flex-direction: column;
  min-height: 80px;
}

.notes {
  flex: 1;
  display: flex;
}

.notes-content{
  flex: 1;
  display: block;
  max-height: 20vh;
}

.spinner {
  color: var(--green);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}