/* Signup Form */
.signupform {
  padding-right: 20px;
}

.signupform input {
  width: 160px;
}

.signupform button {
  margin-left: 15px;
  width: 80px;
}

.btn-cancel {
  margin-left: 30px;
}

/* Name Container */
.name-container {
  display: flex;
  justify-content: space-between;
}

/* Contact Container */
.contact-container {
  display: flex;
  margin-top: 120px;
}

/* Admin Container */
.admin-container {
  display: flex;
  margin-top: 45px;
}

.admin-container input {
  width: 250px;
}
