.signupPasswordInput {
  display: flex;
  margin-top: 50px;
}

.signupPasswordInput input {
  width: 200px;
}

.password {
  flex: 1;
  position: relative;
}

.password-helper-text {
  position: absolute;
  bottom: -90px;
}

.confirmPassword {
  flex: 1;
}
