.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
  z-index: 99;
}

.search-container {
  background-image: url(https://images.unsplash.com/photo-1506521781263-d8422e82f27a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  height: 400px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 171, 171);
  border-radius: 30px;
  
}

.slogan {
  margin-bottom: 70px;
  transform: skew(0deg, -6deg);
  font-size: 40px;
  color: var(--light);
}

.search {
  display: flex;
  align-items: center;
  background-color: var(--light);
  border-radius: 32px;
}

.input-container {
  position: relative;
  background-color: var(--light);
  border-radius: 32px;
  margin-right: 20px;
}

.input-container:last-of-type {
  display: flex;
  align-items: center;
  border-radius: 32px;
}

.input-label {
  position: absolute;
  top: 10px;
  left: 17px;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: bold;
  color: var(--dark);
}

.input-label.datetime{
  top: 2px;
  left: 3px;
}

.search-input {
  border: none;
  border-radius: 32px;
  height: 60px;
  width: 220px;
  padding: 14px 22px 0px;
  background-color: var(--light);
}

.search-input.datetime {
  color: black;
  margin: 0;
  padding: 15px 0 0 5px;
  border-radius: 32px;
}

.search-input:focus {
  outline: none;
  /* background-color: white;
  box-shadow: 10px 0 white; */
}

.text button {
  margin-bottom: 0;
  padding-bottom: 0;
}

.text input:-webkit-autofill {
  background-color: red;
}

.input {
  border: 0 solid green;
}

.search-btn {
  margin-left: 40px;
  height: 35px;
  min-width: 30px;
  width: 35px;
  border-radius: 50%;
}

.search-icon {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}