.image-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.image-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.delete-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  border-radius: 50%;
  padding: 2px;
  background-color: var(--background);
  cursor: pointer;
}

.delete-icon:hover {
  visibility: visible;
}